@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
.body {
    background-color: #eae5e3;
}
.jumbotron {
    color: #ffffff;
    background-image: url("./img/headera.jpg");
    background-size: cover;
    background-position: center 60%;
}
.myfont01 {
    font-family: 'Quicksand', sans-serif;
}
.myfont02 {
    font-family: 'Noto Sans Japanese', serif;
}
.tabalign {
    text-align: right;
}

.fiftysounds {
    display: none;
}
